#comments{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Alumatica;
    margin-top: 20vh;
}

.comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 10% 0 10%;
}

.comment .role{
    color: gray;
}