*{
    box-sizing: border-box;
}
html, body{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    width: 100%;
    background-color: white;
    height: 10vh;
}

header nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
}

header ul:first-child{
    width: 70%;
    margin-right: 5%;
    margin-left: 5%;
}

header>nav>ul:last-child{
    width: 20%;
    justify-content: space-around;
}

.btn-white{
    width: 50%;
}

.btn-white a{
    border: solid #23ebaf 2px;
    border-radius: 200px;
    transition: background-color 0.5s ease-out;
    transition: color 0.5s ease-out;
    padding: 10%;
}

.btn-white a:hover{
    background-color: #23ebaf;
    color: white;
}

header a{
    font-family: Alumatica;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: 
    radial-gradient( white, white),
    radial-gradient(#23ebaf, #23ebaf);
    background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
    
}

header a:hover,
header a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

header li{
    padding: 0;
}

.icon-container{
    width: 40%;
}

.icon-container ul{
    width: 100%;
    justify-content: space-between;
}

#logo{
    height: 30vh;
    position: relative;
    bottom: 7.5vh;
}
















@font-face {
    font-family: 'Alumatica';
    src: url('../fonts/Alumatica-Regular.woff2') format('woff2');
    src: url('../fonts/Alumatica-Regular.eot?') format('embedded-opentype'),
         url('../fonts/Alumatica-Regular.woff2') format('woff2'),
         url('../fonts/Alumatica-Regular.woff') format('woff'),
         url('../fonts/Alumatica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}