* {
    font-family: 'Alumatica';
}

.popup{
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0, 29, 72, 0.8);
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.popupcontent{
    display: flex !important;
    width:35% !important;
    height: 50% !important;
    background-color: white;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
    font-family: 'Alumatica';
    position: relative;
}



.popupheader{
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 0;
    height: 0;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
}

.popup div img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    filter: invert(100%) sepia(0%) saturate(7491%) hue-rotate(240deg) brightness(98%) contrast(105%);
}

.bgred{
    background-color: red;
}

.popupmaincontent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.popupmaincontent form {
    height: 100%;
}

.popup .bgred{
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 100px;
    position:absolute;
    top: -22px;
    right: -10px;
}

@font-face {
    font-family: 'Alumatica';
    src: url('../fonts/Alumatica-Regular.woff2') format('woff2');
    src: url('../fonts/Alumatica-Regular.eot?') format('embedded-opentype'),
         url('../fonts/Alumatica-Regular.woff2') format('woff2'),
         url('../fonts/Alumatica-Regular.woff') format('woff'),
         url('../fonts/Alumatica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

