main {
    width: 80%;
    height: 100vh;
    overflow: hidden;
    header {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        div {
            display: flex;
            width: 30%;
            align-items: center;
            justify-content: space-around;
        }
    }

    #layout-container {
        height: 90%;
    }
}

.stb-layout {
    height: 100%;
    width: 100%;
    .stb-path-header {
        display: flex;
        width: 50%;
        height: 5%;
        justify-content: center;
        align-items: center;
        img {
            width: 2%;
        }
    }

    .stb-layout-content {
        overflow-y: scroll;
        height: 95%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .stb-layout-content::-webkit-scrollbar {
        display: none;
    }
}
