body {
    display: flex;
    width: 100%;
}

.stb-layout-switch-menu{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    border-right: dashed gray 2px;

    &::-webkit-scrollbar {
        display: none;
    }

    .current {
        background-color: green !important;

        &:hover {
            background-color: darkgreen !important;
        }
    }

    .stb-menu-option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5%;
        padding-right: 10%;

        &:hover {
            background-color: gray;
        }

        img {
            width: 10%;
        }
        h3 {
            width: 90%;
            text-align: center;
        }
    }

    .stb-menu-section {
        @extend .stb-menu-option;
        padding-right: 3%;

        img:last-child {
            width: 7%;
        }
    }

    .stb-menu-suboption {
        img {
            width: 4%;
            margin-left: 3%;
            margin-right: 3%;
        }
    }
}